<html>
    <head>
        <title>Invite app</title>
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    </head>
    <body>
        <div class="outercontainer">
            <div class="center">
             <h1 id="titlestyle">
                Invite App
             </h1>
            </div>
            <div class="conversationcontainer" id="chatcontainer">
                {% for entry in name_xyz %}
                <div class = "{% if entry.bot %}bot{% else %}user{% endif %}"> 
                    {% if entry.bot %}
                    {{ entry.bot }}
                    {% else %}
                    {{ entry.user }}
                    {% endif %}
                </div>
                {% endfor %}
            </div>

            <form action="/invite" method="POST" class="center">
                <input type="text" name="user_input_message" id="inputtextbox">
                <input type="submit" value="Submit" id="submitbutton">
            </form> 
            <form action="/end_conv" method="POST" class="center">
                <button type="submit">End Conversation</button>
            </form> 

        </div>
        <script>
            function scrollToBottom() {
                var chatcontainer = document.getElementById('chatcontainer');
                chatcontainer.scrollTop = chatcontainer.scrollHeight;
            }
            window.onload = scrollToBottom;
        </script>
    </body> 
</html>
